@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

* {
  font-family: "Mukta", sans-serif;
  text-decoration: none;
  color: black;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: #e3e7eb;
}

/* navbar */

nav {
  background-color: #f4f3f3;
  display: flex;
  align-items: center;
  height: 10vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a:hover {
  color: #6e6685;
}

.nav-left {
  flex: 50%;
  margin-left: 50px;
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 50px;
}

.nav-right a {
  background-color: #857ba1;
  border: none;
  color: white;
  padding: 5px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}
.nav-right a:hover {
  background-color: #6e6685;
  box-shadow: 6px 7px 8px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 7px 8px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 8px -9px rgba(0, 0, 0, 0.75);
}

.img_logo {
  height: 40px;
}

/* end of navbar */

/* form contact */

label {
  font-weight: 450;
}

.main-container {
  min-height: 100%;
  background-color: red;
  padding: 10px;
  /* height: 100vh; */
  background-image: url("/img/albedo-banner.png");
  background-size: cover;
}

.container_form {
  border-radius: 25px;
  background-color: #e3e7eb;
  width: 30%;
  padding: 20px;
  margin: 20px auto;
}

input[type="text"],
input[type="email"],
input[type="phone"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  /* background-color: #ccc; */
}

.button_submit {
  background-color: #857ba1;
  border: none;
  color: white;
  padding: 5px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}
.button_submit:hover {
  background-color: #6e6685;
  box-shadow: 6px 7px 8px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 7px 8px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 8px -9px rgba(0, 0, 0, 0.75);
}

/* end of form contact */
