@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=REM:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Mukta&display=swap");

* {
  font-family: "Mukta", sans-serif;
  text-decoration: none;
  color: black;
}

body {
  min-height: 100%;
  margin: 0;
  /* background-color: lightgray; */
  background-image: url("/img/albedo-banner.png");
  background-size: cover;
}

/* navbar */

nav {
  background-color: #f4f3f3;
  display: flex;
  align-items: center;
  height: 10vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a:hover {
  color: orangered;
}

.nav-left {
  flex: 50%;
  margin-left: 50px;
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 50px;
}

.nav-right a {
  background-color: orangered;
  padding: 8px 20px;
  color: white;
  border-radius: 5px;
}

.img_logo {
  height: 40px;
}
/* end of navbar */

/* main content */

.container {
  margin: 50px auto;
  height: 70vh;
  width: 160vh;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 10px 10px 48px 4px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 48px 4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 48px 4px rgba(0, 0, 0, 0.75);
}

.main-content {
  display: flex;
}

.content-letter {
  flex: 70%;
  display: flex;
  align-items: start;
  padding: 10px 50px 0px 20px;
}

.content-detail h1 {
  margin-bottom: 0px;
}

.content-detail p {
  text-align: justify;
  font-size: medium;
  font-weight: 500;
}

.content-button .button {
  background-color: #857ba1;
  border: none;
  color: white;
  padding: 10px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 0px 60px 0px;
  cursor: pointer;
  border-radius: 25px;
}

.content-button .button:hover {
  background-color: #6e6685;
  box-shadow: 4px 4px 26px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 26px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 26px -10px rgba(0, 0, 0, 0.75);
}

.footer-content {
  display: flex;
  /* background-color: green; */
}
.logo {
  flex: 70%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: start;
}

.download-cv p {
  flex: 30%;

  display: flex;
  font-size: larger;
  font-weight: bold;
  cursor: pointer;
}

.content-img {
  flex: 30%;
  display: flex;
  /* height: 70vh; */
  align-items: center;
  justify-content: center;
}

.content-img img {
  max-height: 70vh;
  min-height: 70vh;
  width: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
