@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=REM:wght@200&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
}

nav {
  background-color: #f4f3f3;
  display: flex;
  align-items: center;
  height: 10vh;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
}

nav ul li {
  margin-right: 15px;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul li a:hover {
  color: #6e6685;
}

.nav-left {
  flex: 50%;
  margin-left: 50px;
}

.nav-right {
  flex: 50%;
  text-align: end;
  margin-right: 50px;
}

.nav-right a {
  background-color: #857ba1;
  border: none;
  color: white;
  padding: 5px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 25px;
}
.nav-right a:hover {
  background-color: #6e6685;
  box-shadow: 6px 7px 8px -9px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 6px 7px 8px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 7px 8px -9px rgba(0, 0, 0, 0.75);
}

.img_logo {
  height: 40px;
}
