@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=REM:wght@200&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: #e3e7eb;
}

.grid-container {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
  /* padding: 10px auto; */
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

/* card */

.blog-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  background-color: #f4f3f3;
  align-items: center;
  justify-content: center;
}

.blog-list {
  background-color: #fff;
  width: 300px;
  margin: 50px 25px 50px 25px;
  border-radius: 10px;
  box-shadow: black;
  box-shadow: 0px 10px 5px 1px grey;
}

.blog-list:hover {
  box-shadow: 0px 10px 10px 1px grey;
}

.img-blog {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
  height: 250px;
}

.blog-content {
  min-height: 250px;
  max-height: 200px;
  position: relative;
}

.blog-letter {
  padding: 15px 10px 0px 10px;
  /* padding-right: 10px; */
  /* background-color: red; */
}

.blog-title {
  /* background-color: green;
  color: red; */
  font-size: 20px;
  font-weight: 600;
  /* height: 20px; */
}

.info-info {
  display: flex;
  padding: 5px 0 0px 0;
  /* background-color: greenyellow; */
}

.datepost {
  background: white;
  font-size: small;
  font-weight: 200;
  color: rgb(124, 121, 121);
}

.duration {
  flex: 50%;
  display: flex;
  align-items: center;
  font-weight: 200;
  color: rgb(124, 121, 121);
}

.content-letter {
  /* background-color: yellow; */
  text-align: justify;
  height: 70px;
  font-size: medium;
  font-weight: 500;
  /* width: 50ch; */
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.detail-blog-content {
  display: flex;
  padding: 10px 0 10px 0;
  /* background-color: yellow; */
}

.logos {
  flex: 50%;
  display: flex;
  align-items: center;
  font-weight: 200;
  color: rgb(124, 121, 121);
}

.postTime {
  font-size: small;
  font-weight: 200;
  color: rgb(124, 121, 121);
}

.button-group {
  padding: 10px 0px 10px 0px;
  /* background-color: red; */
  position: absolute;
  bottom: 0;
}

.button-group button {
  background-color: rgb(17, 36, 61);
  color: white;
  margin: 0px 15px 0px 15px;
  padding: 8px 25px 8px 25px;
  /* width: 0%; */
  border-radius: 15px;
}

.button-group button:hover {
  box-shadow: black;
  box-shadow: 0px 1px 5px 1px grey;
}
