@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&family=REM:wght@200&display=swap");

* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  color: black;
}

body {
  min-height: 100%;
  margin: 0;
  background-color: #e3e7eb;
}

/* .grid-container {
  display: grid;
  gap: 50px;
  grid-template-columns: auto auto auto;
  background-color: #2196f3;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
} */

/* card */

/* .blog-container {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  background-color: #f4f3f3;
  align-items: center;
  justify-content: center;
}

.blog-list {
  background-color: #fff;
  width: 300px;
  margin: 50px 25px 50px 25px;
  border-radius: 10px;
  box-shadow: black;
  box-shadow: 0px 10px 5px 1px grey;
}

.blog-list:hover {
  box-shadow: 0px 10px 10px 1px grey;
}

.img-blog {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
  height: 250px;
}

.blog-content {
  min-height: 250px;
  max-height: 200px;
  position: relative;
}

.blog-letter {
  padding: 15px 10px 0px 10px;
}

.blog-title {
  font-size: 20px;
  font-weight: 600;
}

.info-info {
  display: flex;
  padding: 5px 0 0px 0;
}

.datepost {
  background: white;
  font-size: small;
  font-weight: 200;
  color: rgb(124, 121, 121);
}

.duration {
  flex: 50%;
  display: flex;
  align-items: center;
  font-weight: 200;
  color: rgb(124, 121, 121);
}

.content-letter {
  text-align: justify;
  height: 70px;
  font-size: medium;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 3;
  -webkit-box-orient: vertical;
}

.detail-blog-content {
  display: flex;
  padding: 10px 0 10px 0;
}

.logos {
  flex: 50%;
  display: flex;
  align-items: center;
  font-weight: 200;
  color: rgb(124, 121, 121);
}

.postTime {
  font-size: small;
  font-weight: 200;
  color: rgb(124, 121, 121);
}

.button-group {
  padding: 10px 0px 10px 0px;
  position: absolute;
  bottom: 0;
}

.button-group button {
  background-color: rgb(17, 36, 61);
  color: white;
  margin: 0px 15px 0px 15px;
  padding: 8px 25px 8px 25px;
  border-radius: 15px;
}

.button-group button:hover {
  box-shadow: black;
  box-shadow: 0px 1px 5px 1px grey;
} */

/* test halaman depan */

.container {
  margin: 50px auto;
  height: 70vh;
  width: 160vh;
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 6px 5px 10px 4px rgba(0, 0, 0, 0.45);
  -webkit-box-shadow: 6px 5px 10px 4px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 6px 5px 10px 4px rgba(0, 0, 0, 0.45);
}

.main-content {
  display: flex;
}

.content-letter {
  flex: 70%;
  display: flex;
  align-items: start;
  padding: 50px 50px 0px 20px;
}

.content-detail h1 {
  margin-bottom: 50px;
}

.content-button .button {
  background-color: #857ba1;
  border: none;
  color: white;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 0 70px 0;
  cursor: pointer;
  border-radius: 25px;
}

.content-button .button:hover {
  background-color: #6e6685;
  box-shadow: 4px 4px 26px -10px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 4px 4px 26px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 26px -10px rgba(0, 0, 0, 0.75);
}

.footer-content {
  display: flex;
}
.logo {
  flex: 70%;
}

.download-cv {
  font-size: large;
  font-weight: 500;
}

.content-img {
  flex: 30%;
  display: flex;
  /* height: 70vh; */
  align-items: center;
  justify-content: center;
}

.content-img img {
  max-height: 70vh;
  min-height: 70vh;
  width: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
